<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HTML 5 Boilerplate</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <h2>Update financial information</h2>
       <form action = "{{url_for('update_financial_information')}}" method = "POST">
       <input type = "number" placeholder = "income" name = "monthly_income" step = ".01"></input>
       <input type = "number" placeholder = "rent expense" name = "rent" step = ".01"></input>
       <input type = "number" placeholder = "grocery expense" name = "groceries" step = ".01"></input>
       <input type = "number" placeholder = "entertainment_expenses" name = "entertainment" step = ".01"></input>
       <input type = "number" placeholder = "transport expenses" name = "transport" step = ".01"></input>
       <input type = "submit" value = "Submit"></input>
       </form>
    
    <li>
          {% for row in financial_data %}
            <ul>
                {% for key, value in row.items() %}
                    {{key}}:{{value}}
                {% endfor %}
          {% endfor %}
            </ul>
    </li>
   <form>
       <input type = "number" placeholder = "add £ savings" name = "savings_paid" step = ".01"></input>
       <input type = "number" placeholder = "reduce debt £" name = "debt_paid" step = ".01"></input>
       <input type = "submit" value = "Submit"></input>
   
   </form>
   
     
	<script src="index.js"></script>
  </body>
</html>